<div class="containerDialog">
  <div mat-dialog-actions align="end">
    <button class="closebtn" mat-button [mat-dialog-close]="false">&times;</button>
  </div>
  <div>
    <h2 mat-dialog-title>Tu Pokemon Favorito es:</h2>
    <h3 mat-dialog-title>&#9733; {{ data.name }} &#9733;</h3>
  </div>
  <div mat-dialog-content>
    <p>Y Sus Mejores Movimientos son:</p>
    <ul>
      <li>{{ data.moves[0].move.name }}</li>
      <li>{{ data.moves[4].move.name }}</li>
      <li>{{ data.moves[8].move.name }}</li>
    </ul>
  </div>
</div>
