<header class="headerContainer">
  <!-- Input Filter with Autocomplete -->
  <div class="filterContent">
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="filterText"
      placeholder="Filtrar por nombre"
      class="classInput"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPokemon">
      <mat-option
        *ngFor="let pokemon of filteredPokemons"
        [value]="pokemon.name"
      >
        {{ pokemon.name }}
      </mat-option>
    </mat-autocomplete>
    <button class="classButton" (click)="filterPokemons()">Filtrar</button>
  </div>
  <!-- Favorite Pokemon Render -->
  <div class="favoriteContent">
    <ng-container *ngFor="let favorite of favoritePokemons">
      <button class="buttonDatails">&#9733; {{ favorite.name }} &#9733;</button>
    </ng-container>
  </div>
</header>

<section class="dataContainer">
  <div class="dataContent">
    <!-- Paginated Table -->
    <div class="containerTable">
      <table>
        <thead>
          <tr>
            <th>Lista de Pokemones</th>
            <th>Selecciona tu Favorito </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pokemon of pokemonListPaginated">
            <td>
              <button class="buttonDatails" (click)="getDetails(pokemon.name)">
                {{ pokemon.name }}
              </button>
              </td>
              <td>
              <button class="buttonDatails" (click)="markAsFavorite(pokemon)">
                <ng-container
                  *ngIf="favoritePokemons.includes(pokemon); else notFavorite"
                >
                  <!-- mark As Favorite -->
                  <span class="material-symbols-outlined"> hotel_class </span>
                </ng-container>
                <ng-template #notFavorite>
                  <!-- Dismark As Favorite -->
                  <span class="material-symbols-outlined"> grade </span>
                </ng-template>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  -->
    <!-- Container Details by name selected -->
    <div class="containerDetails">
      <h1>Descripcion del Pokemon</h1>
      <div *ngIf="containerDetailsContent">
        <h2>Nombre: {{ containerDetailsContent.name }}</h2>
        <ul>
          <li>Especie: {{ containerDetailsContent.species.name }}</li>
          <li>Altura: {{ containerDetailsContent.height }} decímetros</li>
          <li>Peso: {{ containerDetailsContent.weight }} hectogramos</li>
          <li>
            Experiencia Base: {{ containerDetailsContent.base_experience }}
          </li>
        </ul>
        <h2>Habilidades:</h2>
        <ul>
          <li *ngFor="let ability of containerDetailsContent.abilities">
            {{ ability.ability.name }}
          </li>
        </ul>
        <h2>Tipos:</h2>
        <ul>
          <li *ngFor="let type of containerDetailsContent.types">
            {{ type.type.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- "Anterior" && "Siguiente" Button -->
  <div class="buttonsContent">
    <button class="classButton" (click)="prevPage()">Anterior</button>
    <span class="paginated">Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="classButton" (click)="nextPage()">Siguiente</button>
  </div>
  <!--  -->
</section>
<section class="summaryContent">
  <table class="tableSumary">
    <thead>
      <tr>
        <th>Letra</th>
        <ng-container *ngFor="let letter of summaryDataKeys">
          <td>{{ letter }}</td>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Cantidad de Pokémon</th>
        <ng-container *ngFor="let letter of summaryDataKeys">
          <td>{{ summaryData[letter] }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</section>
