.headerContainer {
  margin: 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #207394;
  border-radius: 5px;
}
.filterContent,
.favoriteContent {
  width: 45%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.classInput {
  width: 300px;
  margin-right: 2px;
  padding: 10px 20px;
  color: #207394;
  border-radius: 5px;
  font-size: medium;
}
.classButton {
  padding: 10px 20px;
  background-color: #207394;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}
.classButton:hover {
  background-color: #ee8328;
}
.classButton:active {
  background-color: #ee8328;
}
.dataContent {
  display: grid;
  grid-template-columns: 50% 50%;
}
table {
  margin: 20px;
  table-layout: fixed;
  width: 95%;
  height: 100vh;
  border-collapse: collapse;
  border: 3px solid #207394;
}
.tableSumary {
  margin: 20px;
  table-layout: fixed;
  width: 95%;
  height: 40px;
  border-collapse: collapse;
  border: 3px solid (--color-1);
}
caption {
  margin-bottom: 2px;
  padding: 0.3em;
  color: var(--color-6);
  background: var(--color-1);
}

/* thead th:nth-child(1) {
  width: 50%;
    
    display: inline;
    text-align:center; 
}
thead th:nth-child(2) {
  width: 50%;
      
    display: inline;
    text-align:center; 
}
tbody td:nth-child(1) {
  width: 50%;
      
    display: inline;
    text-align:center; 
}
tbody td:nth-child(2) {
  width: 50%;
     
    display: inline;
    text-align:center; 
} */
th,
td {
  padding: 5px;
  /* border: 1px solid #207394; */
  text-align: center;
}
.tbody td {
  display: block;
  text-align: center;
}
.buttonDatails {
  padding: 10px 20px;
  background-color: #ffff;
  color: #207394;
  border: none;
  cursor: pointer;
  font-size: large;
}
.containerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 3px solid #207394;
  margin: 20px;
  width: 95%;
  height: 100vh;
}
.tittleCeo {
  height: 25px;
  width: 100%;
  color: var(--color-1);
  border-bottom: 3px solid var(--color-1);
  text-align: center;
}
h1 {
  margin: 0;
}
.buttonsContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 600px) {
  table {
    width: 50%;
  }
  thead {
    display: inline;
  }
  tr:nth-of-type(2n) {
    background-color: inherit;
  }
  tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
  }
  tbody td {
    display: block;
    text-align: center;
  }
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}
.containerDialog {
  width: 500px;
  height: 300px;
}
